
@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reports</h2>
<div>
    <p>@ViewBag.username</p>
    <p>@ViewBag.roles</p>
    <p>We'll display the reports here when we have some!</p>
</div>
